@import '../../utils/generalStyles.scss';

.lead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 80px auto 0;

    @media screen and (max-width: 720px) {
        flex-direction: column-reverse;
    }

}

.lead__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.lead__info__text {
    text-align: start;
    font-size: $textMinSize;
    font-weight: 400;
    margin: 10px 0;
    line-height: 1.4;
}

.lead__info__title {
    text-align: start;
    font-size: $textLargeSize;
    font-weight: bold;
    margin: 10px 0;
}

.lead__info__subtitle {
    text-align: start;
    font-size: $textBigSize;
    font-weight: 400;
    margin: 10px 0;
}


.lead__info__link-container {
    display: flex;
    margin: 15px 0;
}

.lead__info__link {
    margin: 0 10px 0 0;
    padding: 10px;
    border-radius: 15px;
    font-weight: 400;
    color: white;
    background-color: $backgroundColorSecondary;
    text-decoration: none;
}

.lead__info__link:hover {
    background-color: $backgroundColorPrimary;
    font-weight: bold;
    color: black;
    box-shadow: 0px 0px 7px 3px $backgroundColorSecondary;
}

.lead__img-container__photo {
    max-width: 340px;
}