@import '../../utils/generalStyles.scss';

.lead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 80px auto 30px;

    @media screen and (max-width: 720px) {
        flex-direction: column-reverse;
    }
}

.lead__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex-shrink: 4;
}

.lead__info__text {
    margin: 10px 0;
    text-align: start;
    font-size: $textMinSize;
    font-weight: 400;
    line-height: 1.4;
}

.lead__info__title {
    margin: 10px 0;
    text-align: start;
    font-size: $textLargeSize;
    font-weight: bold;

    @media screen and (max-width: 360px) {
        font-size: $textBigSize;
    }
}

.lead__info__subtitle {
    margin: 10px 0;
    text-align: start;
    font-size: $textBigSize;
    font-weight: 400;
}


.lead__info__link-container {
    display: flex;
    margin: 15px 0;
}

.lead__info__link {
    @include buttonLink;
    margin-right: 20px;
}

.lead__info__link:hover {
    @include buttonLinkHover;

}

.lead__img-container {
    max-width: 420px;
    margin: 0 0 0 30px;

    @media screen and (max-width: 720px) {
        margin: 0 0 15px 0;
    }
}

.lead__img-container__photo {
    width: 100%;
    object-fit: contain;
    flex-shrink: 1;
}