@import '../../utils/generalStyles.scss';

.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }

}

.lead__info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 50px;
}

.lead__info__text {
    text-align: start;
    font-weight: bold;
    margin: 10px 0;
}

.lead__info__link-container {
    display: flex;
    margin: 15px 0;
}

.lead__info__link {
    margin: 0 10px 0 0;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    background-color: $backgroundColorSecondary;
    text-decoration: none;
}

.lead__info__link:hover {
    background-color: $backgroundColorPrimary;
    color: black;
    box-shadow: 0px 0px 7px 3px $backgroundColorSecondary;
}

.lead__img-container {
    max-width: 600px;
    margin: 0 50px;
}

.lead__img-container__photo {
    width: 300px;
}


.lead__text_size_min {
    font-size: $textMinSize;
    font-weight: normal;
}

.lead__text_size_low {
    font-size: $textLowSize;
}

.lead__text_size_middle {
    font-size: $textMiddleSize;
}

.lead__text_size_big {
    font-size: $textBigSize;
}

.lead__text_size_large {
    font-size: $textLargeSize;
}