@import '../../utils/generalStyles.scss';

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 1200px;
}

.project__title {
    font-size: $textMiddleSize;
    font-weight: 400;
}

.project_subtitle {
    font-size: $textLowSize;
    font-weight: bold;
    margin: 0
}

.project__block-container {
    width: 1200px;
    display: flex;
    justify-content: start;
    margin: 30px 0;

    @media screen and (max-width: 700px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.project__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 410px;
    background-color: lightgray;
    flex-grow: 1;
}

.project__desktop-img {
    width: 500px;
}

.project__mobile-img {
    width: 200px;
    border-radius: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project__text-container {
    max-width: 700px;
    padding: 20px;
    text-align: start;
    flex-grow: 1;
}

.project__text {
    font-size: $textMinSize;
    text-align: start;
    line-height: 1.4;
}

.project__link {
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    background-color: $backgroundColorSecondary;
    text-decoration: none;
}

.project__link:hover {
    background-color: $backgroundColorPrimary;
    color: black;
    box-shadow: 0px 0px 7px 3px $backgroundColorSecondary;
}