$textMinSize: 17px;
$textLowSize: 20px;
$textMiddleSize: 30px;
$textBigSize: 40px;
$textLargeSize: 50px;

$backgroundColorPrimary: yellow;
$backgroundColorSecondary: rgb(0, 0, 0);
$backgroundColorThird: black;
$backgroundColorFour: rgb(236, 236, 236);

@mixin titlesStyle {
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: $textBigSize;
    font-weight: 400;
    width: 100%;
    margin: 50px 0 50px;
}

@mixin buttonLink {
    width: fit-content;
    text-align: center;
    font-size: $textMinSize;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    color: white;
    background-color: $backgroundColorSecondary;
    text-decoration: none;
    cursor: pointer;
}

@mixin buttonLinkHover {
    background-color: $backgroundColorPrimary;
    font-weight: bold;
    color: black;
    box-shadow: 0px 0px 7px 3px $backgroundColorSecondary;
}