$textMinSize: 15px;
$textLowSize: 20px;
$textMiddleSize: 30px;
$textBigSize: 40px;
$textLargeSize: 50px;

$backgroundColorPrimary: yellow;
$backgroundColorSecondary: grey;
$backgroundColorThird: black;