@import '../../utils/generalStyles.scss';

.footer {
    padding: 0px 40px 10px;

    @media screen and (max-width: 720px) {
        padding: 0px 30px 10px;
    }
}

.footer__row {
    height: 1px;
    margin: 20px 0px;
    background-color: rgb(167, 167, 167);
}

.footer_links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }
}

.footer__credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text {
    margin: 10px 10px;
    font-weight: 400;

    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: row;
}

.footer__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__link {
    margin: 10px;
    color: black;
    font-weight: 400;
    text-decoration: none;

    @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
    }
}

.footer__logo {
    width: 40px;
}