@import '../../utils/generalStyles.scss';

.stack-holder {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
}

.stack-holder__title {
    font-size: $textBigSize;
    font-weight: bold;
}

.stack-holder__tech-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

.stack-holder__tech-holder__img {
    max-width: 80px;
    height: 100%;
    margin: 10px;
}