@import '../../utils/generalStyles.scss';

.stack-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-holder__title {
    @include titlesStyle
}

.stack-holder__tech-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 20px;
}

.stack-holder__tech-holder__img {
    max-width: 80px;
    height: 100%;
    margin: 10px;

    @media screen and (max-width: 700px) {
        max-width: 50px;
    }
}