@import '../../utils/generalStyles.scss';

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts__title {
    text-align: center;
    font-weight: bold;
    font-size: $textBigSize;
}

.contacts__text {
    text-align: center;
    font-weight: bold;
    font-size: $textMiddleSize;
}