@import '../../utils/generalStyles.scss';

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.contacts__title {
    @include titlesStyle
}

.contacts__text {
    font-weight: 400;
    font-size: $textLowSize;
    margin: 0px 20px 20px 20px;
}

.contacts__link {
    @include buttonLink;
    margin-bottom: 20px;
}

.contacts__link:hover {
    @include buttonLinkHover;
}